name: 'Build Server EXE'

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-exe:
    permissions:
      contents: write
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          pip install pyinstaller pillow
          pip install -r requirements.txt

      - name: Build with PyInstaller
        run: |
          pyinstaller --name pharmacie --console --onefile --add-data "pharmacie;pharmacie" --hidden-import django --hidden-import django.contrib.auth --hidden-import rest_framework --hidden-import corsheaders --hidden-import django.utils.autoreload --collect-all django --collect-all rest_framework --noconfirm --clean pharmacie/run_exe.py

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: pharma-server
          path: dist/pharmacie.exe
